.bm-burger-button
  position: fixed
  width: 36px
  height: 30px
  left: 36px
  top: 25px
.bm-burger-bars
  background: red
.bm-cross-button
  height: 35px
  width: 35px
.bm-cross
  background: white
  height 20px !important
.bm-menu
  background: red
  padding: 2.5em 1.5em 0
.bm-item-list
  color: red
  padding: 0.8em
.bm-overlay
  background: rgba(0, 0, 0, 0.3)
.menu-item
  display block
  color white
  font-size 25px
  text-transform uppercase
  margin-bottom 15px
  text-decoration none
  &:hover
    text-decoration underline

@media screen and (max-width: 600px)
  .bm-burger-button 
    width 30px
    height 20px
    left 85%
    top 20px
  