// Import all partials
//@require './_*.styl'
@require './_normalize.styl'
@require './_page.styl'
@require './_burger.styl'
@require './_gallery.styl'
@require './_map.styl'

body
  //background red
  @media screen and (max-width: 600px)
    //background blue